<div class="col-md-10 col-md-offset-1">
  <div class="message-show">
    <h2><%= @message.title %></h2>
    <p class="message-posted-by"><%= time_ago_in_words(@message.created_at) %> ago </p>
    <p class="message-desc"><%= @message.description %> </br>
    <% if user_signed_in? %>
      <% if @message.user_id == current_user.id %>
        <%= link_to "Edit", edit_message_path, class: "btn btn-primary btn-xs" %>
        <%= link_to "Remove", message_path, method: :delete, data: { confirm: "Really Delete?" }, class: "btn btn-danger btn-xs" %>
      <% end %>
    <% end %>
    </p>

    <%= simple_form_for ([@comment, Comment.new]) do |f| %></br>
      <%= f.input :content, label: false %>
      <%= f.submit "save", class: 'btn btn-default btn-xs' %>
    <% end %>

    <h3 class="comment-section-header">Comments</h3>
    <hr>



    <ul>
      <%= render partial: 'comments/comment', collection: @message.comments %>
    </ul>

  </div>
</div>
