<div class="comment">
    <p class="comment-content">
    <li>
      <p class="comment-posted-by"><%= comment.user.email %> - <%= time_ago_in_words(comment.created_at) %> ago</p>
      <%= comment.content %>

      <%= simple_form_for ([comment, Comment.new]) do |f| %>
        <%= f.input :content, label: false %>
        <%= f.submit "save", class: 'btn btn-default btn-xs' %>
      <% end %>

      <ul>
        <%= render(partial: 'comments/comment', collection: comment.comments) %>
      </ul>

    </li>
</div>
