<!DOCTYPE html>
<html>
<head>
  <title>FEEDIT</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <%= link_to "feedit", root_path, class: "navbar-brand" %>
    </div>
      <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li><%= link_to "Add Post", new_message_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
        <li class="navbar-text"><small><%= current_user.email %></small></li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
      <% end %>
      </ul>
  </nav>

  <% flash.each do |name, msg| %>
  	<%= content_tag(:div, msg, class: "alert alert-info") %>
  <% end %>

  <%= yield %>

</body>
</html>
